body {
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

h1.titre,h2.titre{
	text-align: center;
	font-style:oblique;
	font-family: fantasy;
	color:blue;
}

hr.complete{
	width:100%;
	background-color: navy;
	height: 2px;
	
}
div.elemform{
	display:block;
}

legend{
	color:blue;
}

input[type="text"],input[type="radio"]{
	margin: 5px;
}
input[type="file"]{
	margin: 5px;
}

div.submitreset{
	width:100%;
	
}
div.submitreset input{
	width:49%;
	height:35px;
	margin-left: 0.5%;
	background-color: blue;
	color:white;
	font-size: large;
}

div.submitreset input[type="reset"]{
	background-color: red;

	}
